<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">LoginSite</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      {% if user.is_authenticated  %}
      <li><a href="{% url "basicapp:logout" %}"">{{user.username|title}}&nbsp;<span class="glyphicon glyphicon-user"></span></a></li>
      {% else %}
      <li><a href="{% url "basicapp:register" %}">Register</a></li>
      <li><a href="{% url "basicapp:login" %}"">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
  {% block body_block %}
  <div class="container">
   
    {% if user.is_authenticated  %}
    <h3>Good Morning {{user.username|upper}}</h3>
    {% else %}
    <h3>This was my sample index page</h3>
    {% endif %}
  
  </div>
  {% endblock %}


</body>
</html>
